<ion-header translucent=true>
  <ion-toolbar>
    <ion-title class="ion-padding-top ion-text-center">TeLlevoAPP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen=true>
  <div class="ion-padding-vertical">
    <ion-card class="ion-text-center">
        <ion-card-title class="ion-text-center">
            <ion-label>
              <br>
                <h1>Bienvenido</h1>
            </ion-label>
        </ion-card-title>
        <ion-card-content>
            <ion-item>
                <ion-label position="floating">Nombre de Usuario</ion-label>
                <ion-input type="text" [(ngModel)]="user"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Contraseña</ion-label>
                <ion-input type="password"></ion-input>
            </ion-item>
        </ion-card-content>
        <ion-button shape="block" (click)="home()">Ingresar</ion-button>
        <ion-button shape="block" (click)="resetPass()">Restablecer Contraseña</ion-button>
    </ion-card>
  </div>
</ion-content>
